<form ng-controller="HomeController" class="col-xs-6 col-xs-offset-3">
    <div class="alert alert-danger alert-dismissable" ng-show="auth.tries">
        <i class="glyphicon glyphicon-exclamation-sign"></i>
        Email  oder Passwort nicht korrekt
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" ng-model="user.name" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" ng-model="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="checkbox hidden">
        <label>
            <input type="checkbox" > Check me out
        </label>
    </div>
    <button type="submit" class="btn btn-default" ng-click="login()">
        <i class="glyphicon glyphicon-log-in"></i>&nbsp;
        Login
    </button>
    <pre>{{auth|json}}</pre>
    <pre>{{auth.isAuthenticated()|json}}</pre>
</form>